* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    max-width: 100%;


    /* 讓跳轉anchor的時候是滑下去的 而不是直接跳轉*/
}

body,
html {
    overflow-x: hidden;
}


img {
    color: white;
    text-align: center;
}

/*一般正常用maxwidth100%就可以處理overflow。上面那段是針對手機板的x-overflow*/






/*ctrl + 滾輪的那種放大 是會很大程度影響排版的。 如果看到liverserver上面
有異樣，要記得先檢查放大比例是不是100。 不然程式碼調半天白搭。*/


/*refresh 幾次之後 每次refresh都會自動跳到anchor連結的order page。*/
/*重作logo 因為上下文字顏色不一樣 這次記得準備好方便調色的版本? 或至少黑白色都要做*/




.fb-customerchat {
    /*改位置資訊看起來是沒甚麼用。 可能還是只會依照fb的數據去改*/
    position: relative;
    left: 600px;
}

.cover {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;

}


.bground_not_blur {
    width: 100vw;
    height: auto;
    opacity: 100%;
    position: fixed;
    top: 0vh;


    filter: blur(6px);
    animation-duration: 0.7s;
    animation-name: blur_out_bg;
    animation-fill-mode: forwards;
}

@keyframes blur_out_bg {
    from {
        filter: blur(6px);

    }

    to {
        filter: blur(0px);
    }
}

.bground_blur {
    width: 100vw;
    height: auto;
    position: fixed;
    top: 0;
    opacity: 100%;
    animation-duration: 0.6s;
    animation-name: blur_in_bg;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;


    opacity: 100%;
    animation-duration: 0.6s;
    animation-name: blur_in_bg;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes blur_in_bg {
    from {
        filter: blur(0px);

    }

    to {
        filter: blur(6px);
    }
}


.black_not_overlay {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;

    opacity: 50%;
    background-color: black;
    animation-name: fade_out_overlay;
    animation-duration: 0.7s;
    animation-delay: 90ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes fade_out_overlay {
    from {
        opacity: 50%;

    }

    to {
        opacity: 0%;
    }
}

.black_overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;

    opacity: 0%;
    background-color: black;
    animation-name: fade_in_overlay;
    animation-duration: 0.5s;
    animation-delay: 50ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes fade_in_overlay {
    from {
        opacity: 0%;

    }

    to {
        opacity: 50%;
    }
}



.show_logo1 {
    position: relative;
    width: 15vw;
    top: -5vw;
    left: -1vw;
    opacity: 0;
    animation-name: fade_in_logo1;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes fade_in_logo1 {
    from {
        opacity: 0%;

    }

    to {
        opacity: 100%;
    }
}


.not_show_logo1 {
    position: relative;
    width: 15vw;
    top: -5vw;
    left: -1vw;
    animation-name: fade_out_logo1;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade_out_logo1 {
    from {
        opacity: 100%;

    }

    to {
        opacity: 0%;
    }
}




.fbicon {
    width: 3vw;
    position: fixed;
    top: 4.7vh;
    left: 94vw;
    z-index: 1;


}


/*字體加粗一些會比較好看。可能是微軟正黑體? 或是直接加粗?*/
.anchor_button_order_page {
    width: 7Vw;
    height: 3.5vw;
    background-color: brown;
    border-radius: 3px;
    position: fixed;
    top: 4.5vh;
    left: 85vw;
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    z-index: 1;
}

.anchor_button_order_page:HOVER {

    background-color: goldenrod;
}


.anchor_button_order_page:active {

    background-color: goldenrod;
}





@keyframes fade_in_start_your_order_text {
    from {
        opacity: 0%;

    }

    to {
        opacity: 100%;
    }
}

.show_start_your_order_text {
    position: absolute;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(252, 252, 252);
    font-size: 3vw;
    animation-name: fade_in_start_your_order_text;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0%;

}

.not_show_start_your_order_text {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: 3vw;
    animation-name: fade_out_start_your_order_text;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0%;

}

@keyframes fade_out_start_your_order_text {
    from {
        opacity: 100%;

    }

    to {
        opacity: 0%;
    }
}


.pls_scroll_down {
    position: absolute;
    width: 1.8px;
    height: 60px;
    background-color: rgb(170, 150, 38);
    animation-name: going_downward;
    animation-duration: 1.3s;
    animation-delay: 90ms;
    animation-iteration-count: infinite;
}


@keyframes going_downward {
    0% {
        left: 49.3vw;
        bottom: -2.2%;

    }



    100% {
        left: 49.3vw;
        bottom: -120px;

    }
}

.pls_scroll_down_not_showed {
    position: absolute;
    width: 1.5px;
    height: 60px;
    background-color: rgb(170, 150, 38);
    animation-name: scroll_down_not_showed;
    animation-duration: 1.3s;
    animation-delay: 90ms;
    animation-iteration-count: 1;

}

@keyframes scroll_down_not_showed {
    0% {

        opacity: 100%;
    }



    100% {
        opacity: 0%;
    }
}


.show_scroll_text_vertical {
    writing-mode: vertical-lr;
    position: absolute;
    top: 85vh;
    left: 49.3vw;
    transform: translate(-50%, 0%);
    font-size: 1.5rem;

    letter-spacing: 2px;
    color: aliceblue;
    animation-name: show_scroll_text;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0%;
}


@keyframes show_scroll_text {
    0% {

        opacity: 0%;
    }



    100% {

        opacity: 100%;
    }
}

.not_show_scroll_text_vertical {
    writing-mode: vertical-lr;
    position: absolute;
    top: 85vh;
    left: 49.3vw;
    transform: translate(-50%, 0%);
    font-size: 1.5rem;
    color: aliceblue;
    animation-name: not_show_scroll_text;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes not_show_scroll_text {
    0% {

        opacity: 100%;
    }



    100% {

        opacity: 0%;
    }
}

.showcase_toptext {
    position: relative;
    width: 500px;
    color: aliceblue;
    font-size: 4vw;
    left: 42.5%;
    top: -15vh;
}

.showcase_toptext_line {
    position: relative;
    left: 47.5%;
    top: -13vh;
    width: 5vw;
    height: 2px;
    background-color: white;

}


.showcase_pic {
    position: relative;
    width: 40vw;
    height: 32vw;
    left: 36vw;
    top: -10vh;
    margin-top: 1rem;
    box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.7);
    object-fit: cover;
}

.showcase_text {
    writing-mode: vertical-lr;
    position: relative;
    height: 18vw;
    left: 25vw;
    top: -32vw;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: aliceblue;
    font-size: 3vw;
    text-align: center;
}



.parser {
    margin-bottom: 42%;
}

.parser1 {
    margin-bottom: 45%;
}


.aroma_the_page_tittle {

    font-size: 3.5vw;
    position: relative;

    top: -40vw;
    left: 42.5vw;
    color: aliceblue;
    padding-bottom: 15px;
}

.aroma_the_page_text {

    font-size: 2.5vw;

    position: relative;
    top: -40vw;
    left: 40.7vw;
    color: aliceblue;

}

.aroma_the_page_text2 {

    font-size: 2.5vw;

    position: relative;
    top: -40vw;
    left: 38vw;
    color: aliceblue;

}

.aroma_the_page_text3 {

    font-size: 2.5vw;

    position: relative;
    top: -40vw;
    left: 35vw;
    color: aliceblue;

}



.whole_set_img {

    /* Set up proportionate scaling */
    width: 55vw;
    height: auto;
    left: 25vw;
    top: -20vh;
    /* Set up positioning */
    position: relative;
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.7);
    margin-top: 110px;

}

#the_order_page {
    position: relative;
    top: 100px;
}


.flex_container {
    position: relative;
    top: 100px;
    width: 100vw;
    height: 40vh;

    display: flex;
    flex-direction: column;


}

.flex_container>header {
    position: relative;
    left: 230px;
}

.flex_container>div {
    position: relative;
    left: 230px;
}


.dm_us_to_order {
    position: relative;
    font-size: 2vw;
    color: aliceblue;
}

.messanger_example {
    position: relative;
    top: -30px;
    width: 750px;
    height: auto;
    flex-shrink: 1;
}

.price_text {
    position: relative;
    top: -115px;
    width: 30vw;
    font-size: 1.5vw;
    color: #fff;

}

.foot {
    position: relative;
    bottom: -90vh;
    width: 100vw;
    height: 40px;
    background-color: #000;
    color: #fff;
    font-size: 1vw;
    text-indent: 70vw;
    line-height: 20px;

}

/*475  是我redmi手機的尺寸
475
475
475
475
475
475
475
475
475
475
475*/
@media screen and (max-width:474.99px) {
    .show_logo1 {
        position: relative;
        width: 30vw;
        top: -6.5vw;
        left: -3vw;
        opacity: 0;
        animation-name: fade_in_logo1;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .not_show_logo1 {
        position: relative;
        width: 30vw;
        top: -6.5vw;
        left: -3vw;
        animation-name: fade_out_logo1;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .fbicon {
        width: 1.6rem;
        position: fixed;
        top: 4.5vh;
        left: 92vw;
    }

    .anchor_button_order_page {
        width: 4.5rem;
        height: 2rem;
        background-color: brown;
        border-radius: 3px;
        position: fixed;
        top: 4.3vh;
        left: 69vw;
        font-size: 0.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        z-index: 20;
    }


    .show_start_your_order_text {
        position: absolute;
        top: 42.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(252, 252, 252);
        font-size: 4.5vw;
        animation-name: fade_in_start_your_order_text;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 0%;

    }


    .not_show_start_your_order_text {
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: aliceblue;
        font-size: 4.5vw;
        animation-name: fade_out_start_your_order_text;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 0%;

    }

    @keyframes going_downward {
        0% {
            left: 49.3vw;
            bottom: -2%;

        }

        100% {
            left: 49.3vw;
            bottom: -80px;

        }
    }



    .show_scroll_text_vertical {
        writing-mode: vertical-lr;
        position: absolute;
        top: 80vh;
        left: 49.3vw;
        transform: translate(-50%, 0%);
        font-size: 0.75rem;

        letter-spacing: 2px;
        color: aliceblue;
        animation-name: show_scroll_text;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 0%;
    }



    .not_show_scroll_text_vertical {
        writing-mode: vertical-lr;
        position: absolute;
        top: 80vh;
        left: 49.3vw;
        transform: translate(-50%, 0%);
        font-size: 0.75rem;

        letter-spacing: 2px;
        color: aliceblue;
        animation-name: not_show_scroll_text;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .showcase_toptext {
        position: relative;
        width: 500px;
        color: aliceblue;
        font-size: 5vw;
        left: 40.5%;
        top: -17vh;
    }

    .showcase_toptext_line {
        position: relative;
        left: 47.2%;
        top: -16.5vh;
        width: 6vw;
        height: 2px;
        background-color: white;
    }

    .showcase_pic {
        position: relative;
        width: 50vw;
        height: 40vw;
        left: 36vw;
        top: -15vh;
        margin-top: 1rem;
        box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.7);
        object-fit: cover;
    }

    .showcase_text {
        writing-mode: vertical-lr;
        position: relative;
        left: 23vw;
        top: -55vw;
        color: aliceblue;
        font-size: 3vw;

        height: 85px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }


    .aroma_the_page_tittle {
        font-size: 6vw;
        position: relative;
        width: 500px;
        top: -20vh;
        left: 36.2vw;
        color: aliceblue;
        padding-bottom: 15px;
    }

    .aroma_the_page_text {

        font-size: 4vw;
        width: 500px;
        position: relative;
        top: -20vh;
        left: 34.7vw;
        color: aliceblue;

    }

    .aroma_the_page_text2 {

        font-size: 4vw;
        width: 500px;
        position: relative;
        top: -20vh;
        left: 29vw;
        color: aliceblue;

    }

    .aroma_the_page_text3 {

        font-size: 4vw;
        width: 500px;
        position: relative;
        top: -20vh;
        left: 24vw;
        color: aliceblue;

    }

    .whole_set_img {

        /* Set up proportionate scaling */
        width: 85vw;
        height: auto;
        left: 8vw;
        top: 0vh;
        /* Set up positioning */
        position: relative;
        box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.7);
        margin-top: 110px;

    }

    #the_order_page {
        position: relative;
        top: 30vh;
    }

    .flex_container {
        position: relative;
        top: 120vh;
        width: 100vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        gap: 0.5px;
    }

    .flex_container>header {
        position: relative;
        left: 30vw;
    }

    .flex_container>img {}


    .dm_us_to_order {
        position: relative;
        left: 10vw;
        top: -20px;
        width: 100vw;
        /*我加了width的長度，這樣可以限制div不要突出到右邊，讓網頁需要往右滑*/
        font-size: 4vw;
        color: aliceblue;
    }

    .messanger_example {
        flex-grow: 1;
        object-fit: cover;
        /*width 或height好像完全沒用。只能用grow來控制大小。 但加上object fit之後，grow的數字再調整也沒用了。可能是因為1已經很大了*/
    }

    .price_text {
        position: relative;
        top: -20px;
        width: 60vw;
        font-size: 3vw;
        color: #fff;

    }

    .foot {
        position: relative;
        top: 40vh;
        width: 100vw;
        height: 40px;
        background-color: #000;
        color: #fff;
        font-size: 2vw;
        text-indent: 32vw;
        line-height: 20px;
    }
}

/* 475-767
475-767
475-767
475-767
475-767
475-767
475-767
475-767
475-767
475-767*/
@media (min-width: 475px) and (max-width: 767.99px) {

    .show_logo1 {
        position: relative;
        width: 20vw;
        top: -3vw;
        left: -1vw;
        opacity: 0;
        animation-name: fade_in_logo1;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .not_show_logo1 {
        position: relative;
        width: 20vw;
        top: -3vw;
        left: -1vw;
        animation-name: fade_out_logo1;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }


    .fbicon {
        width: 1.6rem;
        position: fixed;
        top: 4.5vh;
        left: 93vw;
    }

    .anchor_button_order_page {
        width: 4.5rem;
        height: 2rem;
        background-color: brown;
        border-radius: 3px;
        position: fixed;
        top: 4.2vh;
        left: 76vw;
        font-size: 0.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        z-index: 20;
    }


    @keyframes going_downward {
        0% {
            left: 49.3vw;
            bottom: -1%;
        }

        100% {
            left: 49.3vw;
            bottom: -60px;

        }
    }

    .show_start_your_order_text {
        position: absolute;
        top: 42.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(252, 252, 252);
        font-size: 4vw;
        animation-name: fade_in_start_your_order_text;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 0%;

    }

    .not_show_start_your_order_text {
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: aliceblue;
        font-size: 4vw;
        animation-name: fade_out_start_your_order_text;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 0%;

    }


    .show_scroll_text_vertical {
        writing-mode: vertical-lr;
        position: absolute;
        top: 80vh;
        left: 49.3vw;
        transform: translate(-50%, 0%);
        font-size: 1rem;

        letter-spacing: 2px;
        color: aliceblue;
        animation-name: show_scroll_text;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 0%;
    }


    .not_show_scroll_text_vertical {
        writing-mode: vertical-lr;
        position: absolute;
        top: 80vh;
        left: 49.3vw;
        transform: translate(-50%, 0%);
        font-size: 1rem;
        color: aliceblue;
        animation-name: not_show_scroll_text;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .showcase_toptext {
        position: relative;
        width: 40vw;
        color: aliceblue;
        font-size: 4vw;
        left: 40%;
        top: -13vh;
    }

    .showcase_toptext_line {
        position: relative;
        left: 45.2%;
        top: -12vh;
        width: 6vw;
        height: 2px;
        background-color: white;

    }

    .showcase_pic {
        position: relative;
        width: 50vw;
        height: 40vw;
        left: 36vw;
        top: -10vh;
        margin-top: 1rem;
        box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.7);
        object-fit: cover;
    }

    .showcase_text {
        writing-mode: vertical-lr;
        position: relative;
        left: 25vw;
        top: -32vh;
        color: aliceblue;
        font-size: 3vw;
        height: 16vw;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        text-align: center;
    }



    .aroma_the_page_tittle {

        font-size: 6vw;
        position: relative;
        width: 500px;
        top: -15vh;
        left: 34.5vw;
        color: aliceblue;
        padding-bottom: 15px;
    }

    .aroma_the_page_text {

        font-size: 4vw;
        width: 500px;
        position: relative;
        top: -15vh;
        left: 32.7vw;
        color: aliceblue;

    }

    .aroma_the_page_text2 {

        font-size: 4vw;
        width: 500px;
        position: relative;
        top: -15vh;
        left: 28vw;
        color: aliceblue;

    }

    .aroma_the_page_text3 {

        font-size: 4vw;
        width: 500px;
        position: relative;
        top: -15vh;
        left: 23vw;
        color: aliceblue;

    }

    .whole_set_img {

        /* Set up proportionate scaling */
        width: 70vw;
        height: auto;
        left: 18vw;
        top: 5vh;
        /* Set up positioning */
        position: relative;
        box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.7);
        margin-top: 110px;

    }

    #the_order_page {
        position: relative;
        top: 42vh;
    }


    .flex_container {
        position: relative;

        width: 100vw;
        height: 40vh;

        display: flex;
        flex-direction: column;
        gap: 0.5px;


    }

    .flex_container>header {
        position: relative;
        left: 200px;
    }

    .flex_container>img {}


    .dm_us_to_order {
        position: relative;
        top: -10px;
        width: 50vw;
        /*我加了width的長度，這樣可以限制div不要突出到右邊，讓網頁需要往右滑*/
        font-size: 3vw;
        color: aliceblue;
    }

    .messanger_example {
        width: 750px;
        height: auto;
        flex-shrink: 1;
    }

    .price_text {
        position: relative;
        top: -50px;
        width: 30vw;
        font-size: 2vw;
        color: #fff;

    }

    .foot {
        position: relative;
        top: 110vh;
        width: 100vw;
        height: 40px;
        background-color: #000;
        color: #fff;
        font-size: 3vw;
        text-indent: 20vw;
        line-height: 20px;

    }
}

/*768-1023
768-1023
768-1023
768-1023
768-1023
768-1023
768-1023
768-1023
768-1023
768-1023
768-1023
768-1023*/
@media (min-width: 768px) and (max-width: 1023.99px) {}

.parser {
    margin-bottom: 105vh;
}

/*11111111111111
11111111111111
11111111111111
11111111111111
11111111111111
11111111111111*/






/*如果顯示上看起來有問題，但是圖片的數據又正常，可以試著點兩下(重開)那個"裝置模擬"的按鈕(變成手機尺寸)，或者ctrl+/- 調整放大比率*/